.leaflet-container { /* all maps */
  width: 100%;
  min-height: 90vh;
  border-style: groove;
}
#detailmap {
  min-height: 90vh;
}
:root{
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container {
  background-color: rgba(100, 200, 100, 0.7) !important;
  padding: 10px;
}
.popup{
  color : #E2BC74;
  text-align : center;
  border-style: ridge;
  border-radius: 20px;
  background-color: #1E90FF;
}
div h2{
  padding: 1vh;
}

footer{
  text-align : right;
  margin-right : 1vw;
}
section div div.card{
  overflow: hidden;
}
.card .collapse .card-body .stat-item{
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section div div img.card-img{
  width: 100%;
  transition: 1s ease;
}
section div div img.card-img:hover {
  transform: scale(1.3);
}
/* Afficher uniquement les 13 premiers éléments */
section div ul li:nth-child(n+14){
  display: none !important;
}

/* Menu contextuel */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #1566B1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: #1E90FF;
  color: white;
  border: none;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.openbtn:hover {
  background-color: #1A80E4;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

@media (max-width: 1199.98px){
/* Effacer les dates d'expiration */
section div ul li small{
    display: none !important;
  }
/* Afficher uniquement les 26 premiers éléments */
section div ul li:nth-child(n+27){
  display: none !important;
}
