.leaflet-container { /* all maps */
  width: 100%;
  height: 80vh;
  max-height: 1500px;
  border-style: groove;
}
#detailmap {
  height: 850px;
  max-height: 1500px;
}
.container {
  background-color: rgba(100, 200, 100, 0.7) !important;
  padding: 10px
}
.popup{
  color : #E2BC74;
  text-align : center;
  border-style: ridge;
  border-radius: 20px;
  background-color: #1E90FF;
}
div h2{
  padding: 1vh;
}
footer{
  text-align : right;
  margin-right : 1vw;
}
section div div.card{
  overflow: hidden;
}
section div div img.card-img{
  width: 100%;
  transition: 1s ease;
}
section div div img.card-img:hover {
  transform: scale(1.3);
}
/* Afficher uniquement les 13 premiers éléments */
section div ul li:nth-child(n+14){
    display: none !important;
  }
}
@media (max-width: 992x){
  section div div a.list-group-item-action{
      display:none;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
section div ul li small{
      display: none !important;
    }
}

@media (min-width: 768px){
.dropdown{
    display:none;
  }
}
@media (max-width: 992px){
section div div img.card-img{
    display: none;
  }
section div ul li:nth-child(n+4){
    display: none !important;
  }
}
